/* body */

body{
    background: #50C9C3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #96DEDA, #50C9C3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #96DEDA, #50C9C3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* heading */

#heading{
    margin: 2% 25%;
}

#heading .name{
    font-size: 4rem;
    font-weight: bold;
    color: aliceblue;
    text-align: center;
    font-family: cursive;
    margin-bottom: -1rem;
}

#heading .tagline{
    font-size: 1.5rem;
    text-align: end;
    color: darkred;
    font-style: italic;
}

/* serach container */

#search_container{
    width: 32rem;
    margin: 1% 32%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#search_container .meal{
    border: none;
    outline: none;
    font-size: 2rem;
    text-indent: 10px;
    border-radius: 15px;
}

#search_container .search_btn{
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid white;
    background-color: orangered;
    color: white;
    font-style: oblique;
    cursor: pointer;
}

#search_container .search_btn:hover{
    background-color: white;
    color: orangered;
    border: 1px solid orangered;
}

/* meal card */

#meal_card{ 
    width: auto;
    height:15rem; 
    display: flex;
    margin: 2% 25%; 
}

#meal_card .meal_img{
    width: 40%; 
    height: inherit; 
    border-radius: 15px 0 0 15px;
}

#meal_card .meal_info{
    width: 65%; 
    height: inherit; 
    background-color: white; 
    border-radius: 0 15px 15px 0;
}

/* .meal_info .name_n_type{
    top: 5%;
    left: 2%;
    width: 95%;
    height: 3rem;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
} */

.meal_info .meal_name{
    top: 2%;
    left: 2%;
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
    position: relative;
}

.meal_info .meal_category{
    left: 2%;
    margin-top: 5px;
    font-size: 1.5rem;
    position: relative;
}

.meal_info .name_n_type .veg{
    height: 18px;
    width: 18px;
    border: 1px solid green;
}

.meal_info .name_n_type .veg p{
    margin: 1px;
    text-align: center;
}

.meal_info .name_n_type .veg p i{
    color: green;
}

.meal_info .cuisine{
    left: 2%;
    font-size: 1.5rem;
    position: relative;
    font-style: italic;
}

.meal_info .fav_btn{
    background: transparent;
    border: none;
    color: red;
    font-size: 1.25rem;
    font-weight: bold;
    cursor: pointer;
}

.meal_info .details_btn{
    font-size: 1.25rem;
    padding: 10px;
    /* position: relative; */
    margin: 4% 0 0 1%;
    background: cornflowerblue;
    color: white;
    font-weight: 700;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.meal_info .details_btn:hover{
    background: white;
    color: cornflowerblue;
    border: 1px solid cornflowerblue;
}