/* body */

body {
    background: #2980B9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}

/* heading */

#heading {
  margin: 2% 25%;
}

#heading .name {
  font-size: 4rem;
  font-weight: bold;
  color: aliceblue;
  text-align: center;
  font-family: cursive;
  margin-bottom: -1rem;
}

#heading .tagline {
  font-size: 1.5rem;
  text-align: end;
  color: darkred;
  font-style: italic;
}

/* search container */

#search_container {
  width: 32rem;
  margin: 1% 32%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#search_container #meal {
  border: none;
  outline: none;
  font-size: 2rem;
  text-indent: 10px;
  border-radius: 15px;
}

#search_container #search_btn {
  padding: 10px;
  font-size: 1.5rem;
  border-radius: 15px;
  color: white;
  cursor: pointer;
  font-style: oblique;
  border: 1px solid white;
  background-color: orangered;
}

#search_container #search_btn:hover {
  color: orangered;
  background-color: white;
  border: 1px solid orangered;
}

/* search result list */

#search_result {
  max-height: 20rem;
  overflow-y: scroll;
}

/* error message */

.error_msg{
  text-align: center;
  font-style: oblique;
}

/* meal card */

#meal_card {
  width: auto;
  height: 15rem;
  display: flex;
  margin: 2% 25%;
}

#meal_card .meal_img {
  width: 40%;
  height: inherit;
  border-radius: 15px 0 0 15px;
}

#meal_card .meal_info {
  width: 65%;
  height: inherit;
  background-color: white;
  border-radius: 0 15px 15px 0;
}

.meal_info .meal_name {
  top: 2%;
  left: 2%;
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
  position: relative;
}

.meal_info .meal_category {
  left: 2%;
  margin-top: 5px;
  font-size: 1.5rem;
  position: relative;
}

.meal_info .cuisine {
  left: 2%;
  font-size: 1.5rem;
  position: relative;
  font-style: italic;
}

.meal_info #fav_btn {
  background: transparent;
  border: none;
  color: red;
  font-size: 1.25rem;
  font-weight: bold;
  cursor: pointer;
}

.meal_info #details_btn {
  font-size: 1.25rem;
  padding: 10px;
  margin: 4% 0 0 1%;
  background: cornflowerblue;
  color: white;
  font-weight: 700;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.meal_info .details_btn:hover {
  background: white;
  color: cornflowerblue;
  border: 1px solid cornflowerblue;
}

/* favourite meals list */

#fav_heading{
  font-size: 2rem;
  text-align: center;
  color: floralwhite;
}

/* customizing scrollbar */

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgb(23 21 21);
}
