/* body */

body{
    background: #50C9C3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #96DEDA, #50C9C3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #96DEDA, #50C9C3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* heading */

#heading{
    margin: 2% 25%;
}

#heading .name{
    font-size: 4rem;
    font-weight: bold;
    color: aliceblue;
    text-align: center;
    font-family: cursive;
    margin-bottom: -1rem;
}

#heading .tagline{
    font-size: 1.5rem;
    text-align: end;
    color: darkred;
    font-style: italic;
}

/* serach container */

#search_container{
    width: 32rem;
    margin: 1% 32%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#search_container .meal{
    border: none;
    outline: none;
    font-size: 2rem;
    text-indent: 10px;
    border-radius: 15px;
}

#search_container .search_btn{
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid white;
    background-color: orangered;
    color: white;
    font-style: oblique;
    cursor: pointer;
}

#search_container .search_btn:hover{
    background-color: white;
    color: orangered;
    border: 1px solid orangered;
}

/* search results */
#search_results{
    height: auto;
    width: auto;
    margin: 2% 5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* meal card */

.meal_card{
    height: 25rem;
    width: 20rem;
    border-radius: 15px;
}

.meal_card .img_container{
    height: 70%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}

.meal_card .info{
    height: 30%;
    background-color: white;
    border-radius: 0 0 15px 15px;
}

.meal_card .info .name_n_type{
    position: relative;
    top: 5%;
    left: 2%;
    /* margin-top: 0px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
    width: 95%;
}

.meal_card .info .name_n_type .meal_name{
    font-size: 1.25rem;
    font-weight: bold;
}

.meal_card .info .name_n_type .veg{
    height: 18px;
    width: 18px;
    border: 1px solid green;
}

.meal_card .info .name_n_type .veg p{
    margin: 1px;
    text-align: center;
}

.meal_card .info .name_n_type .veg p i{
    color: green;
}

.meal_card .info .cuisine{
    position: relative;
    left: 2%;
    font-size: 1.25rem;
    font-style: italic;
    margin-top: 1%;
}

.meal_card .info .fav_btn{
    background: transparent;
    border: none;
    color: red;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}












